/* Remove Polaris fade/hover layers */

.Polaris-Navigation {
  background-color: transparent !important;
}

.Polaris-Navigation__ItemWrapper {
  background-color: transparent !important;
}

.Polaris-Navigation__Item,
.Polaris-Navigation__Item:hover,
.Polaris-Navigation__Item:focus,
.Polaris-Navigation__Item--selected,
.Polaris-Navigation__Item:active {
  background-color: transparent !important;
  box-shadow: none !important;
  transition: none !important;
  opacity: 1 !important;
}

.Polaris-Navigation__Item::before {
  display: none !important;/
}

.Polaris-Navigation__Text {
  color: #000 !important;
}



